/* Estilos generales */
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; /* Ajustar el padding según sea necesario */
}

.head {
    padding: 20px;
    font-size: 30px;
}

.bookmarks {
    flex-grow: 1;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.category {
    display: flex;
    flex-direction: column;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear los enlaces a la izquierda */
    padding-top: 1px;
    padding-bottom: 20px;
}

.title {
    font-size: 20px; /* Reducir el tamaño de la fuente del título */
}

li {
    font-size: 14px; /* Reducir el tamaño de la fuente de los enlaces */
    list-style-type: none;
    padding: 5px;
}

.weather-container {
    padding: 10px;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
    .head {
        font-size: 24px;
    }

    .bookmarks {
        grid-template-columns: 1fr;
    }
}
